<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>sample_vue</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but sample_vue doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <div id="app2">
      <span v-bind:title = "message">
        しばらくこの文字列の上にカーソルを置いてください。そうすれば現在の日付と時刻が表示されます。
      </span>
    </div>
    <div id="app3">
      <span v-if="seen">あなたは私を見ることができる？</span>
    </div>
    <div id="app4">
      <ol>
        <li v-for="todo in todos">
          {{ todo.text }}
        </li>
      </ol>
    </div>
    <div id="app5">
      <p>{{message}}</p>
      <button v-on:click="reverseMessage">反転！</button>
    </div>
    <div id="app6">
      <p>{{message}}</p>
      <input v-model='message'>
    </div>
    <div id="app7">
      <ol>
        <todo-item
          v-for="item in groceryList"
          v-bind:todo="item"
          v-bind:key="item.id"></todo-item>
      </ol>
    </div>
    <div id="app8">
      <p>{{foo}}</p>
      <button v-on:click="foo = 'baz'">変更！</button>
    </div>
    <div id="app9">
      <span>Message: {{ number + 1 }}</span>
      <span>Message: {{ ok ? 'YES' : 'NO'}}</span>
      <span>Message: {{ message.split('').reverse().join('') }}</span>
      <div v-bind:id="'list-' + id"></div>
    </div>
    <div id="example">
      <p>Original message:{{message}}</p>
      <p>Computed reversed message:{{reversedMessage}}</p>
    </div>
    <div id="demo">
      {{fullName}}
    </div>
    <!-- <div id="watch-example">
      <p>
        Ask a yes/no question:
        <input type="text" v-model='question'>
      </p>
      <p>{{answer}}</p>
    </div> -->
    <div class="static" v-bind:class="{ active: IsActive,'text-danger' : hasError}"></div>
    <div class="app21" v-bind:class="classObject"></div>
    <div class="app22" v-bind:class="classObject"></div>
    <div id="app23" v-bind:class="[activeClass, errorClass]"></div>
    <div id="app24" v-bind:class="[isActive ? activeClass : ' ' ,errorClass]"></div>
    <div id="app25" v-bind:style="styleObject"></div>
    <div id="app30">
      <h1 v-if="awesome">Vue is awesome!</h1>
      <h1 v-else>Oh no ...</h1>
    </div>
    <div id="app31">
    </div>
    <div id="app32">
      <div v-if="type === 'A'">
        A
      </div>
      <div v-else-if="type === 'B'">
        B
      </div>
      <div v-else-if="type === C">
        C
      </div>
      <div v-else>
        Not A/B/C
      </div>
    </div>
    <div id="app33">
      <template v-if="loginType === 'username'">
        <label>Username</label>
        <input type="text" placeholder="Enter your username">
      </template>
      <template v-else>
        <label>Email</label>
        <input type="text" placeholder="Enter your Email Addres">
      </template>
      <button v-on:click="change">変化</button>
    </div>
    <div id="app40">
      <ul id="example-1">
        <li v-for="item in items">
          {{ item.message }}
        </li>
        <button v-on:click="addList">追加</button>
      </ul>

    </div>
    <div id="app41">
      <ul id="example-2">
        <li v-for="(item,index) of items">
          {{ parentMessage }} - {{ index }} - {{ item.message }}
        </li>
      </ul>
    </div>
    <div id="app42">
      <ul id="v-for-object" class="demo">
        <li v-for="(value,name,index) in object">
          {{ index }}. {{ name }}:{{ value }}
        </li>
      </ul>
    </div>
    <div id="app43" v-for='item in items' v-bind:key="item.id">
      <!-- content -->
    </div>
    <div>
      <ul id="app45">
        <li v-for>{{ userProfile }} </li>
      </ul>
      <button v-on:click="SetData">追加</button>
    </div>
    <div id='app46' >
        <ol v-for="num in evenNumbers">
          <li>{{ num }}</li>
      </ol></div>
    <div>
      <span v-for="num in 10">{{ num }} </span>
    </div>
    <div id="app50">
      <button v-on:click="counter += 1">Add 1</button>
      <p>The button above has been clicked {{counter}} times.</p>
    </div>
    <div id="app51">
      <!-- greetはあらかじめ定義したメソッドの名前 -->
      <button v-on:click="greet">Greet</button>
    </div>
    <div id="app52">
      <button v-on:click="say('hi')">hi</button>
      <button v-on:click="say('GoodBy')">GoodBy</button>
      <button v-on:click="warn('Form cannot be submitted yet.',$event)">WARN</button>
      <input type="text" v-on:keyup.enter="submit">
      <input type="text" v-on:keyup.page-down="onPageDown">
      <button @click.ctrl="onClick">A</button>
      <button @click.ctrl.exact="onCtrlClick">B</button>
      <button @click.exact="onClick">V</button>
    </div>
    <a href="" v-on:click.stop="doThis">停止</a>
    <div id="app61">
      <input type="text" v-model="message" placeholder="edit me">
      <p>Message is : {{ message }}</p>
      <span>Multiline message is :</span>
      <p style="white-space:pre-line">{{multimessage}}</p>
      <br>
      <textarea name="" id="" cols="30" rows="10" v-model="multimessage" placeholder="add mutliple lines"></textarea>
      <input type="checkbox" id="checkbox" v-model="checked">
      <label for="checkbox">{{ checked }}</label>
    </div>
    <div id="app62">
      <input type="checkbox" id="jack" value="Jack" v-model="CheckedNames">
      <label for="jack">Jack</label>
      <input type="checkbox" id="john" value="John" v-model="CheckedNames">
      <label for="john">John</label>
      <input type="checkbox" id="mike" value="mike" v-model="CheckedNames">
      <label for="mike">Mike</label>
      <br>
      <span>Checked names: {{ CheckedNames }}</span>
    </div>
    <div id="app63">
      <input type="radio" id="one" value="One" v-model="picked">
      <label for="one">One</label>
      <br>
      <input type="radio" id="two" value="Two" v-model="picked">
      <label for="Two">Two</label>
      <span>Picked:{{ picked }}</span>
    </div>
    <div id="app64">
      <select v-model="selected" multiple>
        <option >A</option>
        <option >B</option>
        <option >C</option>
      </select>
      <br>
      <span>selected : {{ selected }}</span>
    </div>
    <div id="app65">
      <select v-model="selected">
        <option v-for="option in options" v-bind:value="option.value">
          {{ option.text }}
        </option>
      </select>
      <span>Selected: {{ selected }}</span>
    </div>
    <div id="app66">
      <input 
        type="checkbox"
        v-model:="toggle"
        true-value="yes"
        false-value=no>
    </div>
    <div id="components-demo">
      <button-counter></button-counter>
      <button-counter></button-counter>
      <button-counter></button-counter>
      <button-counter></button-counter>
      <button-counter></button-counter>
      <button-counter></button-counter>
      <alert-box>
        Something bad happened.
      </alert-box>
    </div>
    <div id="components-post">
      <blog-post post-title="Hello!"></blog-post>
      <blog-post v-bind:title="post.title"></blog-post>
      <blog-post v-bind:likes="42"></blog-post>
      <blog-post is-published></blog-post>
      <blog-post v-bind:is-published="false"></blog-post>
      <blog-post v-bind:is-published="post.isPublished"></blog-post>
      <blog-post v-bind:comment-ids="[234, 266, 273]"></blog-post>
      <blog-post v-bind:comment-ids="post.commentIds"></blog-post>
      <blog-post
        v-bind:author="{
          name: 'Veronica',
          company: 'Veridian Dynamics'
        }"
      ></blog-post>
      <blog-post v-bind="post"></blog-post>
      <blog-post
      v-bind:id="post.id"
      v-bind:title="post.title"
    ></blog-post>
    </div>
    <div id="base-check">
      <base-checkbox v-model="lovingVue"></base-checkbox>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
  </body>
</html>
